.wrapper-data {
    max-width: 504px;
    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    background: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
    padding: 54px 54px 34px 54px;
    position: relative;
    .btn-wrapper {
        position: absolute;
        top: 54px;
        right: 54px;
        box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);
        border-radius: 6.16667px;
        width: 86px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
            border: none;
            background-color: #fff;
            height: 100%;
            width: 100%;
            outline: none;
        }
    }
}