@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Red Hat Display' !important;
  font-weight: normal;
  font-size: 18px;
  // background: rgba(255, 241, 244, 1);
}

li {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit !important;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

h1 {
  font-size: 24px !important;
  line-height: 33px !important;
  font-weight: 700;
  color: $primary;
  margin-bottom: 24px;
  @include breakpoint('mobile') {
    font-size: 48px !important;
    line-height: 66px !important;
  }
  @include breakpoint('desktop-large') {
    font-size: 52px !important;
    line-height: 73px !important;
  }
}

h3 {
  font-size: 18px !important;
  line-height: 24px;
  @include breakpoint('mobile') {
    font-size: 26px !important;
    line-height: 33px !important;
  }
  @include breakpoint('desktop-large') {
    font-size: 32px !important;
    line-height: 39px !important;
  }
}

p {
  font-size: 16px !important;
  line-height: 28px !important;
  color: $primary;
  margin-bottom: 32px;
  @include breakpoint('mobile') {
    font-size: 20px !important;
    line-height: 42px !important;
  }
  @include breakpoint('desktop-large') {
    font-size: 24px !important;
    line-height: 46px !important;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
