@import './variables';
@import './mixins';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Red Hat Display' !important;
  font-weight: normal;
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit !important;
  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
