@import 'src/styles/variables';
.button {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: white;
  background-color: $coloredtext;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  border: none;
  border-radius: 27px;
  transition: all 0.1s ease-in-out;
  padding-left: $p-xxl;
  padding-right: $p-xxl;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    transform: scale(1.05) !important;
  }
  &:focus {
    box-shadow: none !important;
  }
  &:active {
    transform: scale(0.95) !important;
  }
}
.primary {
  background-color: transparent;
  color: $coloredtext;
  border: 2px solid $coloredtext;
  &:hover,
  &:focus {
    background-color: $coloredtext;
    border: 2px solid $coloredtext;
    color: #fff;
  }
  &:active {
    background-color: $coloredtext !important;
    border: 2px solid $coloredtext !important;
    color: #fff;
  }
}
.secondary {
  color: $primary;
  background-color: transparent;
  border: 2px solid $primary;
  &:hover,
  &:focus {
    color: $primary;
    background-color: transparent;
    border: 2px solid $primary;
  }
  &:active {
    color: $primary !important;
    background-color: transparent !important;
    border: 2px solid $primary !important;
  }
}
